<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Lists</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% stylesheets filter='lessphp' '@LightningApiBundle/Resources/less/*' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <p>Lists</p>
        {% javascripts
            '@SonatajQueryBundle/Resources/public/jquery-1.8.0.js'
            '@LightningApiBundle/Resources/public/js/*' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
