@color-black: #0b1d26;
@color-white: #fcfdfd;
@color-blue: #1075b6;
@padding-body-top: 4em;
@font-weight: 300;

.link-black {
    color: @color-black;
    text-decoration: none;

    &:hover {
        color: @color-blue;
    }
}

@-webkit-keyframes loading {
    from { width: 0; }
}

body {
    background-color: @color-white;
    color: @color-black;
    font-size: 1em;
    line-height: 1.6;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: @font-weight;
    text-rendering: optimizeLegibility;
    padding: 1em 2em;
}

h1 {
    font-weight: @font-weight;
    font-size: 2.5em;
    margin-top: 0.1em;
}

.back {
    margin: 1.5em 0 0 0;
    visibility: hidden;

    a {
        display: block;
        height: 25px;
        width: 25px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        background-image: url('/bundles/lightningapi/images/back_black.png');
        background-size: 25px 25px;
    
        &:hover {
            background-image: url('/bundles/lightningapi/images/back_blue.png');
        }
    }
}

.loading {
    -webkit-animation: loading 1.2s steps(4, end) infinite;
    overflow: hidden;
    width: 1em;
    display: inline-block;
    visibility: hidden;
}

a {
    color: @color-blue;
    text-decoration: underline;

    &:hover {
        color: @color-blue;
    }
}

p {
    max-width: 20em;
    line-height: 1.4;

    &.challenge {
        margin: 0;
        font-weight: 300;
        font-size: 1.6em;
    }
}

ul {
    list-style-type: none;
    padding: 0;
    max-width: 20em;

    li {
        border-bottom: 1px solid #eee;

        a {
            display: block;
            padding: 1em 0 1.2em 0;
            .link-black;
        }
    }
}

#user {
    position: absolute;
    top: 2.2em;
    right: 2em;

    a {
        .link-black;
    }
}

@media only screen and (min-width: 940px) {

    body {
        padding: 4em 3em;
    }

    #user {
        top: 2em;
        right: 3em;
    }
}
