<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Lightning</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% stylesheets filter='lessphp'
            '@LightningWebBundle/Resources/less/normalize.less'
            '@LightningWebBundle/Resources/less/*.less' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <h1>Lightning {{code}}</h1>
        <div id="user"><a href="">Logout</a></div>
        <div id="container"></div>
        <script>
            var Lightning = Lightning || {};
            Lightning.URL_LISTS = '{{ path('lightning_api_lists_index') }}';
        </script>
        {% javascripts
            '@SonatajQueryBundle/Resources/public/jquery-1.8.0.js'
            '@LightningWebBundle/Resources/public/js/*' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
