{% twig_js name="Lightning.templates.list" %}
<ul class="items">
    {% for item in items %}
       <li><input data-href="{{ item.url }}" class="item" value="{{ item.value }}" /></li>
    {% endfor %}
</ul>
