{% twig_js name="Lightning.templates.list" %}
<ul class="items">
    {% for item in items %}
       <li><input data-url="{{ item.url }}" class="item item-edit" value="{{ item.value }}" /></li>
    {% endfor %}
</ul>
